:root {
    --color-background: #F8FAFA;
    --color-white: #F8FAFA;
    --color-red: #E25528;
    --color-lighred: #f07f59;
    --color-blue: #5CAFEB;
    --color-black: #2A2826;
    --color-gray: #6E6D7A;
    --color-light-gray: #9E9EA7;
    --color-text-title: #5CAFEB;
    --color-text-base: #6E6D7A;
    --color-line-in-white: #E6E6F0;
    --color-box-footer: #2A2826;
  
    /* 1rem == 16px, 60% = 1rem == 9.6px */
    font-size: 60%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
  }

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  html, body {
      /* ocupar altura total da tela */
      min-height: 100vh;
      min-height: auto;
      background-color: var(--color-white);
      overflow-x: hidden;
  }

  body {
      /* rem é muito utilizado para aplicações responsivas */
    position: relative;
    font-family: 'Playfair Display', serif;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
  }

  nav.navbar {
    padding: 30px 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--color-black);
}

nav.navbar li {
    padding-right: 48px;
}


li {
    list-style-type: none;
}
li > a {
    color: var(--color-white);
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 1.7px;
    text-decoration: none;

  }

  a.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5CAFEB;
    padding: 10px;
    border-radius: 50%;
    align-self: flex-start;
    font-size: 3rem;
}

a i {
    /* color: var(--color-white); */
    color: var(--color-black);
    font-size: 1.6rem;
}

li.last-icon {
    margin-right: 80px;
}

li a:hover {
    color: var(--color-red);
}

a:hover i {
    /* color: var(--color-white); */
    color: var(--color-white);
    font-size: 1.6rem;
}


  footer {
      background-color: var(--color-black);
      height: 102px;
      margin-top: 20px;
      display: block;
  }


  @media (max-width: 500px) {
      :root {
          /* converter 1rem para 10px  */
          font-size: 50%;
      }

      nav.navbar {
        padding: 30px 0 ;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-black);
    }
    
    nav.navbar li {
        padding-right: 15px;
    }

    li.last-icon {
        margin-right: 10px;
    }

    footer {
        display: none;
    }
  }