ul {
    margin-top: 100px;
    margin-left: 30px;
}

ul li.bullet-list, ul li.bullet-list a {
    color: var(--color-gray);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-bottom: 18px;
    font-size: 18px;
}

li.bullet-list::before {
    content: "\2022";
    color: var(--color-lighred);
    opacity: 0.8;
    font-weight: bold;
    display: inline-block; 
    width: 1.5em;
    margin-left: -29px;
    font-size: 2rem;
}

ul li.bullet-list a {
    text-decoration: underline;
    text-decoration-color: var(--color-lighred);
    text-decoration-thickness: 1px;
    /* text-underline-position: under; */
}

ul li.bullet-list a:hover {
    text-decoration: none;
    color: var(--color-lighred);
}

@media (max-width: 500px) {
    ul li.bullet-list, ul li.bullet-list a {
        margin-left: 15px;
    }
}
