

*, body {
    background-color: black;
    width: 85%;
    margin: 40px 40px;
}

p {
    color: white;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

a {
    font-size: 24px;
    color: lightcoral;
    opacity: 0.4;
}

a:hover {
    opacity: 1;
}